<div class="row">
    <div class="col-lg-12">
        <div class="well page-header jumbotron" style="margin-top: 0px;">
            <h1>Bienvenido...</h1>
            <p>Los proyectos son tareas con características especiales:</p>
            <p>
                <ul>
                    <li>Generalmente son complejos, unívocos e implican un alto grado de riesgo.</li>
                    <li>Tienen objetivos precisos acordados entre usted y el solicitante.</li>
                    <li>Tienen una duración limitada y un coste y una capacidad elevados.</li>
                    <li>Están sujetos a determinados requisitos de calidad.</li>
                    <li>La mayoría tienen una gran importancia estratégica para la empresa que los lleva a cabo.</li>
                </ul>
            </p>
        </div>
    </div>
</div>
